In [6]:
import pandas as pd

In [8]:
data = pd.read_csv('housing.csv')
data.shape

(489, 4)

In [9]:
data.head()

      RM  LSTAT  PTRATIO      MEDV
0  6.575   4.98     15.3  504000.0
1  6.421   9.14     17.8  453600.0
2  7.185   4.03     17.8  728700.0
3  6.998   2.94     18.7  701400.0
4  7.147   5.33     18.7  760200.0

In [23]:
data.iloc[:,[-1]]

         MEDV
0    504000.0
1    453600.0
2    728700.0
3    701400.0
4    760200.0
5    602700.0
6    480900.0
7    569100.0
8    346500.0
9    396900.0
10   315000.0
11   396900.0
12   455700.0
13   428400.0
14   382200.0
15   417900.0
16   485100.0
17   367500.0
18   424200.0
19   382200.0
20   285600.0
21   411600.0
22   319200.0
23   304500.0
24   327600.0
25   291900.0
26   348600.0
27   310800.0
28   386400.0
29   441000.0
..        ...
459  350700.0
460  252000.0
461  306600.0
462  449400.0
463  483000.0
464  497700.0
465  525000.0
466  457800.0
467  432600.0
468  445200.0
469  401100.0
470  432600.0
471  319200.0
472  147000.0
473  170100.0
474  285600.0
475  422100.0
476  457800.0
477  514500.0
478  485100.0
479  413700.0
480  384300.0
481  445200.0
482  367500.0
483  352800.0
484  470400.0
485  432600.0
486  501900.0
487  462000.0
488  249900.0

[489 rows x 1 columns]

In [10]:
data['MEDV'].min()

105000.0

In [11]:
data['MEDV'].max()

1024800.0

In [12]:
data['MEDV'].mean()

454342.9447852761

In [13]:
data['MEDV'].median()

438900.0

In [14]:
data['MEDV'].std()

165340.27765266786